@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  color: #333333;
}
a {
  text-decoration: none;
  color: #333333;
}
li {
  list-style: none;
}
img {
  vertical-align: top;
  width: 100%;
}
#wrap {
  position: relative;
  margin: 0 auto;
  width: 1200px;
}
#header {
  width: 100%;
  display: flex;
  background-color: #0c51a6;
}
#header .logo {
  width: 20%;
  height: 100px;
}
#header .logo a {
  color: #fff;
  padding: 30px 30px;
  display: inline-block;
}
#header .nav {
  width: 80%;
  height: 100px;
  position: relative;
  z-index: 1000;
}
#header .nav > ul {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
}
#header .nav > ul > li {
  position: relative;
}
#header .nav > ul > li > a {
  display: block;
  color: #fff;
  padding: 15px 45px;
  background-color: #004497;
}
#header .nav > ul > li > a:hover {
  background-color: #063063;
}
#header .nav > ul > li > ul {
  /* display: none; */
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #fff;
  display: none;
}
#header .nav > ul > li > ul > li > a {
  padding: 10px 20px;
  display: block;
}
#header .nav > ul > li > ul > li > a:hover {
  background-color: #50d6ff;
}
#slider {
  width: 100%;
  height: 300px;
}
#slider .sliderWrap {
  position: relative;
}
#slider .sliderWrap .slider {
  position: absolute;
  left: 0;
  top: 0;
}
#slider .sliderWrap .slider .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
}
#slider .sliderWrap .slider .text h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 5px;
}
#slider .sliderWrap .slider .text p {
  color: #fff;
  font-size: 16px;
}
#contents {
  width: 100%;
  display: flex;
}
#contents .info {
  height: 200px;
  width: 400px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #b7e1fa;
}
#contents .info .info-menu {
  margin-bottom: 10px;
}
#contents .info .info-menu a {
  font-size: 22px;
}
#contents .info .info-menu a.active {
  text-decoration: underline;
}
#contents .info .info-content .notice {
  display: none;
}
#contents .info .info-content .notice li {
  display: flex;
}
#contents .info .info-content .notice li a {
  width: 75%;
  font-size: 16px;
  line-height: 1.8;
}
#contents .info .info-content .notice li a:hover {
  text-decoration: underline;
}
#contents .info .info-content .notice li span {
  width: 25%;
  font-size: 16px;
  line-height: 1.8;
  text-align: right;
}
#contents .info .info-content .gallery ul {
  display: flex;
  justify-content: space-between;
}
#contents .info .info-content .gallery ul li a {
  display: block;
  border: 2px solid transparent;
}
#contents .info .info-content .gallery ul li a:hover {
  background-color: #02042b;
}
#contents .banner {
  height: 200px;
  width: 400px;
  background: url("../images/banner.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#contents .banner h3 {
  color: #fff;
  font-size: 26px;
}
#contents .banner a {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 10px;
}
#contents .banner a:hover {
  background-color: rgba(0, 0, 0, 1);
}
#contents .link {
  height: 200px;
  width: 400px;
  background-image: url("../images/link.jpg");
}
#contents .link h3 {
  color: #fff;
  padding: 20px;
}
#contents .link a {
  width: 100px;
  height: 100px;
  background-color: rgba(1, 52, 95, 0.8);
  display: block;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  line-height: 100px;
  margin: 0 auto;
}
#contents .link a:hover {
  background-color: rgba(1, 52, 95, 1);
}
#footer {
  width: 100%;
  display: flex;
  background-color: #e7e7e7;
}
#footer .footer1 {
  width: 20%;
  height: 100px;
}
#footer .footer1 h4 {
  font-size: 30px;
  padding: 25px;
  color: #7f7f7f;
}
#footer .footer2 {
  width: 80%;
}
#footer .footer2 .footer2-1 {
  width: 100%;
  height: 50px;
  text-align: center;
}
#footer .footer2 .footer2-1 ul {
  padding-top: 20px;
}
#footer .footer2 .footer2-1 li {
  display: inline-block;
  border-right: 1px solid #333333;
}
#footer .footer2 .footer2-1 li:last-child {
  border: 0;
}
#footer .footer2 .footer2-1 li a {
  padding: 10px;
}
#footer .footer2 .footer2-1 li a:hover {
  text-decoration: underline;
}
#footer .footer2 .footer2-2 {
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}
.popup-view {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #46c9f1;
  border: 4px solid #0a4288;
  padding: 20px;
  display: none;
}
.popup-view h3 {
  font-size: 24px;
  margin-bottom: 15px;
  border-bottom: 2px solid #0a4288;
  color: #0a4288;
  padding-bottom: 5px;
}
.popup-view a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0a4288;
  color: #fff;
  padding: 10px 20px;
}